In [5]:
#ejemplo Regresión Logística PDF
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
data = pd.read_csv("compras_1.csv", delimiter=";")

In [3]:
data.head()

   index  Purchase  Gender  Constante
0      1         1       1          1
1      2         1       1          1
2      3         0       1          1
3      4         0       0          1
4      5         1       0          1

In [6]:
x = data[["Constante","Gender"]]

In [7]:
x

     Constante  Gender
0            1       1
1            1       1
2            1       1
3            1       0
4            1       0
..         ...     ...
506          1       0
507          1       1
508          1       0
509          1       1
510          1       1

[511 rows x 2 columns]

In [8]:
Y = data["Purchase"]

In [9]:
rl = sm.Logit(Y,x)

In [10]:
result =rl.fit()

Optimization terminated successfully.
         Current function value: 0.682641
         Iterations 4

In [11]:
print(result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Purchase   No. Observations:                  511
Model:                          Logit   Df Residuals:                      509
Method:                           MLE   Df Model:                            1
Date:                Sat, 25 Apr 2020   Pseudo R-squ.:                0.008571
Time:                        14:54:38   Log-Likelihood:                -348.83
converged:                       True   LL-Null:                       -351.85
Covariance Type:            nonrobust   LLR p-value:                   0.01406
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Constante     -0.0325      0.128     -0.255      0.799      -0.282       0.217
Gender         0.4380      0.179      2.449      0.014       0.087       0.789
==============================================================================